@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
.grid {

    display: grid;
    padding: 1px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-template-columns: 250px auto;
    grid-template-rows: 1000px;
    margin-top: 0px;
}

.grid-item {
    background-color: white;
    font-size: 15px;
    overflow: scroll;
    height:900px;
}
.sidebar {
  background-color: gray;
  color:black;
  padding-top: 20px;
  padding-left: 5px;
  font-size: 14px;
  font-style:normal;
  font-family: sans-serif;
  text-align:left;
  margin: 0;
}




table{
  border: 5px solid blue;
  background-color: tomato;
  color: dodgerblue;
  border-collapse: collapse;
  width: 20%;
  text-align: center;
}

th{
  border: 3px solid black;
  background-color: limegreen;
  color: mediumvioletred;
  padding:3px;

}
td{
  background-color:lightgray;
  color:black;
  border: 1px solid black;
  padding:3px;
}
.caveat{
  font-family: 'Caveat', cursive;
}

.red{color:red;font-family: 'Caveat', cursive;}
.orange{color:darkorange;font-family: 'Caveat', cursive;}
.yellow{color:#EEDD11;font-family: 'Caveat', cursive;}
.green{color:limegreen;font-family: 'Caveat', cursive;}
.blue{color:deepskyblue;font-family: 'Caveat', cursive;}
.theblueviolet{color:#0066F5;font-family: 'Caveat', cursive;}
.reallydarkblue{color:midnightblue;font-family: 'Caveat', cursive;}
.indigo{color:indigo; font-family: 'Caveat', cursive;}
.purple{color:purple;font-family: 'Caveat', cursive;}
.fakeviolet{color:#581C8C;font-family: 'Caveat', cursive;}


.contain {
	width: 80%;
	margin: 0 auto;
}


#floatleft{
  float: left;
  padding: 10px 0;
}


.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
  position: sticky;
  z-index: 5;
  top:0px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


nav {
  float: right;
  height: 75px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  height: 75px;
  position: relative;
}

nav li:hover{
  background-color: yellow;
  transition: background-color 1s;
}
nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
  text-decoration: none;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.curly{
  font-family: 'Dancing Script', cursive;
  color: navy;
  text-align: center;
}

.wiry{
  font-family: 'Dancing Script', cursive;
  color: coral;
}

h3{
  padding:8px;
}

#hidingPic{
  width: 70%;
  height: auto;
}

#end{
  background-color: #55d6aa;
}

#end a{
  text-decoration: none;
}
#end a:hover{
  text-decoration: none;
}

#end li{
  list-style: none;
}

@media(max-width:1030px){
  #floatleft{
    display:none;
  }
}

@media(max-width:860px){
  nav ul{
    display:none;
  }
  nav h4::after{
    content: "Welcome to my website!";
  }
  nav h4{
    font-size:36px;
    text-align: center;
    padding-left:50px;
    float: left;
  }
}

@media(min-width:700px){
  .wiry::after{
    content: "Welcome to my website!"
  }
}

#small_screen_nav_alt{
  float:left;
}
.flexie{
  border: 5px solid blue;
}

#nothinghere{
  background-color: yellow;
  color: red;
  text-align: center;
}

#nothinghere:hover{
  color:blue;
}

.normal{
  color: #ABB2BF;
}

.htmltag{
  color: #E06C75;
}

.attributes{
  color: #D19A66;
}

.quotes{
  color: #98C378;
}

.tab{
  padding-left: 5%;
}

.monospace{
  font-family: monospace;
}

.comfort{
  font-family: 'Comfortaa', sans-serif;
}

.attags{
  color: #C477DB;
}

.ids{
  color: #61AFEF;
}

.colourcode{
  color: #56B6C2;
}

.csstag{
  color: #828996;
}
