.grid {
    background-color: green;
    display: grid;
    padding: 1px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-template-columns: 150px auto;
    grid-template-rows: 1000px;
}

.grid-item {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
#sidebar {
  background-color: firebrick;
  color:white;
}
